<style>
.nav-table {
  display: table;
  width: 100%;
}

.nav-table-row {
  display: table-row;
}

.nav-table-cell {
  display: table-cell;
}

.img-container {
  text-align: center;
  padding-top: 5px;
  margin-right: 5px;

}

h3 {
  border-width: 0px 0px 1px;
  border-style: solid;
  border-color: blue;
}

.back-image {
  height: 78vh;
  background: url(images/home-page.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

</style>

<div class="row">
  <div class="col-lg-12">
    <h3><%= site_name %></h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 back-image"></div>
</div>
